.parent {
    border: 7px solid rgb(152, 47, 47);
}

.children {
    margin: 5px;
    background: rgb(62, 135, 159);
    color: white;
    text-align: center;
    line-height: 50px;
    font-weight: 600;
}

/* Display flex */
.default-flex .parent{
    display: flex;
    /* flex-direction: row; */
    /* flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse; */
}

.default-flex .children{
    width: 50px;
}

/* Flex - Wrap */
.default-wrap .parent{
    margin-top: 20px;
    display: flex;
}

.default-wrap .children {
    width: 270px
}

.default-wrap .parent-wrap-rule{
    flex-wrap: wrap;
}

.default-wrap .parent-wrap-reverse{
    flex-wrap: wrap-reverse;
}

.default-wrap .parent-no-wrap{
    flex-wrap: nowrap;
}

/*  Justify - Content */
.parent-justify-content{
    /* justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly; */

    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    justify-content: center;
}


/* Align Items */
.parent-align-content{
    background-color: brown;
    height: 750px;
    flex-wrap: wrap;
    /* Default Behaviour */
    /* align-items: stretch; */
    align-items: flex-start;
    /* align-items: flex-end; */
    /* align-items: center; */
}

.parent-align-content .children {
    width: 270px;
}

/* Align Content */

.first-child{
    height: 100px;
}

.fourth-child{
    height: 200px;
}

.parent-align-c-content .children {
    width: 270px;
}

.parent-align-c-content{
    background-color: brown;
    height: 550px;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    /* align-content: flex-start; */
    /* align-content: flex-end; */
    /* align-content: space-between; */
    /* align-content: space-evenly; */
}

/* Gap */
.parent-gap .children {
    width: 200px;
}

.parent-gap{
    /* flex-direction: column; */
    gap: 30px;
    /* row-gap: 15px; */
    /* column-gap: 20px; */
    flex-wrap: wrap;
}